body {
    width: 600px;
    margin: 20px auto;
    background-color: rgb(211, 206, 206);
}

h1, h2 {
    text-align: center;
}

.code {
    color: rgb(194, 68, 10);

    /* Стремитесь не повторять одинаковые свойства-значения. Лучше создайте для них дополнительное новое общее правило с общим селектором. */
    background-color: rgb(201, 191, 191);
}

.TextInTheCode {
/* Можно использовать более короткое имя класса, достаточное для того чтобы отличить этот класс от всего остального, например, просто text */
    color: rgb(0, 0, 0);
}

.footer {
    color: rgb(17, 134, 134);
    background-color: rgb(201, 191, 191);
}